@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./custom-font.css"; /* Add this line to import the custom font CSS */

.gradient-background {
  background: #373b44; /* Fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
